.App {
  margin: 0;
  padding: 0;
  display: flex;
}

.dark {
  background-color:black;
  color: white;
}
.light{
  background-color: white;
  color: black
}

h1{
  margin-top: 0;
  padding-top: 20px;
}